<h1> <%= @task.title %> </h1>
<%= link_to "Edit task", edit_task_path(@task) %>
<p>
  Details: <%= @task.details %>
</p>

<% if @task.completed == true %>
  <p> "[ X ] - This Task is completed"</p>
<% else %>
  <p> [ ] - This Task is not completed</p>
<% end %>

<%= link_to "Go back to the list", "/tasks" %>
